<footer class="container-fluid text-center bg-dark text-light py-3 mt-auto">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="mb-1">&copy; YelpCamp 2024. All Rights Reserved.</p>
            <p class="mb-2">Explore, Share, and Discover Amazing Places!</p>
            <!-- Social Media Icons -->
            <div class="social-icons">
                <a href="#" class="text-light me-3" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-light me-3" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-light me-3" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-light me-3" title="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
